adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
chardet==2.3.0
cymysql==0.8.9
get==0.0.20
html5lib==0.999
lxml==3.5.0
mercurial==3.7.3
post==0.0.12
public==0.0.37
PyYAML==3.11
query-string==0.0.11
request==0.0.12
requests==2.11.1
setupfiles==0.0.13
six==1.10.0
unity-lens-photos==1.0
vboxapi==1.0
pyOpenSSL==16.2.0
